* {
  box-sizing: border-box;
}

body {
  font-family: Kalam, cursive;
  font-size: 16px;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  background-color: #f4f4f4;
}

h1,
h2 {
  font-family: "Fredericka the Great", cursive;
}
